#container {
  background-color: #eee;
  margin: auto;
  padding: 2em;
  text-align: center;
}
#displayScreen { 
  margin: 0; 
  background-color: white;
  border: solid black 1px;
}
#currentInput {
  height: 5em;
}
#digitsTable{
  
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}

.operandButton{
  display: block;
  
}
